<!DOCTYPE html>
<html>

<head>
    <title>Project Creativity</title>
    <meta charset="utf-8" />
    <script src="./external/angular.js"></script>
    <script src="./node_modules/angular-route/angular-route.js"></script>
    <script src="./app.js"></script>
    <script src="./views/writing_desk/writing_desk.js"></script>
</head>

<body ng-app="app">
    <section ng-controller="ViewController as view">
        <ul>
            <li>
                <a href="" ng-click="view.setActiveView(1)">Writing Desk</a>
            </li>
            <li>
                <a href="" ng-click="view.setActiveView(2)">Draft Drawer</a>
            </li>
        </ul>
        <h4 ng-show="view.isActiveView(1)">Writing Desk</h4>
        <h4 ng-show="view.isActiveView(2)">Draft Drawer</h4>
    </section>
    <div ng-view></div>
</body>

</html>